@page "/countries"

<h3>Paises</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>
<GenericList MyList="Countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Departamentos / Estados</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Countries!)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>@item.StatesNumber</td>
                        <td>
                            <a href="/countries/edit/@item.Id" class="btn btn-warning btn-sm">Editar</a>
                            <a class="btn btn-info btn-sm" href="/countries/details/@item.Id">Detalles</a>
                            <button @onclick=@(() => DeleteAsync(item)) class="btn btn-danger btn-sm">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>
